/ss-log/ss-log-datatypes/target/
/ss-util/target/
/ss-serv/ss-serv-serv/ss-serv-err-reg/target/
/ss-conf/ss-conf-api/target/
/ss-serv/ss-jsonld/ss-jsonld-datatypes-api/target/
/ss-datatypes/ss-datatypes-datatypes/target/
/ss-serv/ss-serv-serv/ss-serv-datatypes/target/
/ss-adapter/ss-adapter-socket/ss-adapter-socket-datatypes/target/
/ss-serv/ss-jsonld/ss-jsonld-util/target/
/ss-serv/ss-datatypes/ss-tag/ss-tag-datatypes/target/
/ss-serv/ss-jsonld/ss-jsonld-api/target/
/ss-serv/ss-datatypes/ss-entity/ss-entity-datatypes/target/
/ss-serv/ss-datatypes/ss-rating/ss-rating-datatypes/target/
/ss-serv/ss-db/ss-db-datatypes/target/
/ss-serv/ss-serv-serv/ss-serv-api/target/
/ss-serv/ss-db/ss-db-api/target/
/ss-serv/ss-jobs/ss-solr/ss-solr-datatypes/target/
/ss-serv/ss-datatypes/ss-coll/ss-coll-datatypes/target/
/ss-serv/ss-datatypes/ss-userevent/ss-userevent-datatypes/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-datatypes/target/
/ss-serv/ss-datatypes/ss-user/ss-user-datatypes/target/
/ss-serv/ss-datatypes/ss-user/ss-user-api/target/
/ss-serv/ss-datatypes/ss-disc/ss-disc-datatypes/target/
/ss-serv/ss-datatypes/ss-learn-ep/ss-learn-ep-datatypes/target/
/ss-serv/ss-jobs/ss-recomm/ss-recomm-datatypes/target/
/ss-serv/ss-jobs/ss-evernote/ss-evernote-datatypes/target/
/ss-serv/ss-jobs/ss-broadcasting/ss-broadcast-datatypes/target/
/ss-serv/ss-jobs/ss-filerepo/ss-filerepo-datatypes/target/
/ss-serv/ss-serv-serv/ss-serv-test-api/target/
/ss-serv/ss-serv-serv/ss-serv-caller/target/
/ss-serv/ss-jobs/ss-evernote/ss-evernote-api/target/
/ss-serv/ss-jobs/ss-evernote/ss-evernote-impl/target/
/ss-serv/ss-db/ss-db-conf/target/
/ss-serv/ss-jobs/ss-evernote/ss-evernote-serv/target/
/ss-serv/ss-db/ss-db-serv/target/
/ss-serv/ss-db/ss-db-impl/target/
/ss-serv/ss-datatypes/ss-entity/ss-entity-api/target/
/ss-serv/ss-datatypes/ss-entity/ss-entity-conf/target/
/ss-serv/ss-datatypes/ss-entity/ss-entity-impl/target/
/ss-serv/ss-datatypes/ss-learn-ep/ss-learn-ep-conf/target/
/ss-serv/ss-datatypes/ss-entity/ss-entity-serv/target/
/ss-serv/ss-datatypes/ss-learn-ep/ss-learn-ep-api/target/
/ss-serv/ss-datatypes/ss-learn-ep/ss-learn-ep-impl/target/
/ss-serv/ss-datatypes/ss-learn-ep/ss-learn-ep-serv/target/
/ss-serv/ss-jobs/ss-dataexport/ss-dataexport-conf/target/
/ss-serv/ss-jobs/ss-dataexport/ss-dataexport-datatypes/target/
/ss-serv/ss-jobs/ss-dataexport/ss-dataexport-impl/target/
/ss-serv/ss-jobs/ss-dataexport/ss-dataexport-serv/target/
/ss-serv/ss-jobs/ss-dataexport/ss-dataexport-api/target/
/ss-serv/ss-jobs/ss-file-sys-local/ss-file-sys-local-api/target/
/ss-serv/ss-jobs/ss-file-sys-local/ss-file-sys-local-datatypes/target/
/ss-serv/ss-jobs/ss-file-sys-local/ss-file-sys-local-conf/target/
/ss-serv/ss-jobs/ss-recomm/ss-recomm-conf/target/
/ss-serv/ss-jobs/ss-file-sys-local/ss-file-sys-local-impl/target/
/ss-serv/ss-jobs/ss-file-sys-local/ss-file-sys-local-serv/target/
/ss-serv/ss-jobs/ss-recomm/ss-recomm-api/target/
/ss-serv/ss-jobs/ss-recomm/ss-recomm-impl/target/
/ss-serv/ss-jobs/ss-recomm/ss-recomm-serv/target/
/ss-serv/ss-datatypes/ss-location/ss-location-impl/target/
/ss-serv/ss-datatypes/ss-location/ss-location-datatypes/target/
/ss-serv/ss-datatypes/ss-location/ss-location-api/target/
/ss-serv/ss-jobs/ss-filerepo/ss-filerepo-conf/target/
/ss-serv/ss-datatypes/ss-location/ss-location-serv/target/
/ss-serv/ss-jobs/ss-solr/ss-solr-api/target/
/ss-serv/ss-localwork/ss-localwork-impl/target/
/ss-serv/ss-localwork/ss-localwork-serv/target/
/ss-serv/ss-jobs/ss-solr/ss-solr-impl/target/
/ss-serv/ss-jobs/ss-solr/ss-solr-serv/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-api/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-utils/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-conf/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-impl/target/
/ss-serv/ss-datatypes/ss-user/ss-user-conf/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-serv/target/
/ss-serv/ss-datatypes/ss-user/ss-user-impl/target/
/ss-serv/ss-datatypes/ss-userevent/ss-userevent-api/target/
/ss-serv/ss-datatypes/ss-user/ss-user-serv/target/
/ss-serv/ss-datatypes/ss-userevent/ss-userevent-serv/target/
/ss-serv/ss-datatypes/ss-userevent/ss-userevent-impl/target/
/ss-adapter/ss-adapter-socket/ss-adapter-socket-impl/target/
/ss-serv/ss-jsonld/ss-jsonld-conf/target/
/ss-serv/ss-jobs/ss-evernote/ss-evernote-conf/target/
/ss-serv/ss-datatypes/ss-location/ss-location-conf/target/
/ss-serv/ss-jobs/ss-search/ss-search-conf/target/
/ss-serv/ss-datatypes/ss-tag/ss-tag-conf/target/
/ss-serv/ss-datatypes/ss-disc/ss-disc-conf/target/
/ss-log/ss-log-conf/target/
/ss-serv/ss-datatypes/ss-rating/ss-rating-conf/target/
/ss-serv/ss-datatypes/ss-coll/ss-coll-conf/target/
/ss-serv/ss-datatypes/ss-userevent/ss-ue-conf/target/
/ss-serv/ss-jobs/ss-dataimport/ss-dataimport-conf/target/
/ss-serv/ss-jobs/ss-scaff/ss-scaff-conf/target/
/ss-serv/ss-jobs/ss-auth/ss-auth-datatypes/target/
/ss-serv/ss-jobs/ss-lomextractor/ss-lomextractor-conf/target/
/ss-serv/ss-jobs/ss-auth/ss-auth-conf/target/
/ss-serv/ss-jobs/ss-broadcasting/ss-broadcast-conf/target/
/ss-conf/ss-conf-conf/target/
/ss-serv/ss-voc/ss-voc-conf/target/
/ss-serv/ss-jobs/ss-scaff/ss-scaff-datatypes/target/
/ss-serv/ss-voc/ss-voc-api/target/
/ss-serv/ss-jobs/ss-scaff/ss-scaff-api/target/
/ss-serv/ss-jobs/ss-scaff/ss-scaff-impl/target/
/ss-serv/ss-jobs/ss-scaff/ss-scaff-serv/target/
/ss-serv/ss-jobs/ss-lomextractor/ss-lomextractor-datatypes/target/
/ss-serv/ss-jobs/ss-lomextractor/ss-lomextractor-api/target/
/ss-serv/ss-jobs/ss-lomextractor/ss-lomextractor-impl/target/
/ss-serv/ss-jobs/ss-lomextractor/ss-lomextractor-serv/target/
/ss-serv/ss-jobs/ss-dataimport/ss-dataimport-api/target/
/ss-serv/ss-jobs/ss-dataimport/ss-dataimport-datatypes/target/
/ss-serv/ss-jobs/ss-dataimport/ss-dataimport-impl/target/
/ss-serv/ss-jobs/ss-dataimport/ss-dataimport-serv/target/
/ss-serv/ss-datatypes/ss-coll/ss-coll-api/target/
/ss-serv/ss-datatypes/ss-coll/ss-coll-impl/target/
/ss-serv/ss-voc/ss-voc-impl/target/
/ss-serv/ss-datatypes/ss-coll/ss-coll-serv/target/
/ss-serv/ss-jsonld/ss-jsonld-datatypes/target/
/ss-serv/ss-jobs/ss-search/ss-search-datatypes/target/
/ss-serv/ss-voc/ss-voc-serv/target/
/ss-serv/ss-jsonld/ss-jsonld-impl/target/
/ss-serv/ss-jsonld/ss-jsonld-serv/target/
/ss-serv/ss-jobs/ss-auth/ss-auth-api/target/
/ss-serv/ss-jobs/ss-auth/ss-auth-impl/target/
/ss-serv/ss-jobs/ss-auth/ss-auth-serv/target/
/ss-serv/ss-jobs/ss-filerepo/ss-filerepo-api/target/
/ss-serv/ss-jobs/ss-filerepo/ss-filerepo-serv/target/
/ss-serv/ss-jobs/ss-filerepo/ss-filerepo-impl/target/
/ss-serv/ss-jobs/ss-broadcasting/ss-broadcast-api/target/
/ss-serv/ss-datatypes/ss-rating/ss-rating-api/target/
/ss-serv/ss-jobs/ss-broadcasting/ss-broadcast-impl/target/
/ss-serv/ss-datatypes/ss-disc/ss-disc-impl/target/
/ss-serv/ss-datatypes/ss-disc/ss-disc-api/target/
/ss-serv/ss-jobs/ss-broadcasting/ss-broadcast-serv/target/
/ss-serv/ss-datatypes/ss-rating/ss-rating-serv/target/
/ss-serv/ss-datatypes/ss-disc/ss-disc-serv/target/
/ss-serv/ss-datatypes/ss-rating/ss-rating-impl/target/
/ss-serv/ss-datatypes/ss-tag/ss-tag-api/target/
/ss-serv/ss-datatypes/ss-tag/ss-tag-impl/target/
/ss-serv/ss-jobs/ss-search/ss-search-api/target/
/ss-serv/ss-jobs/ss-search/ss-search-impl/target/
/ss-serv/ss-datatypes/ss-tag/ss-tag-serv/target/
/ss-serv/ss-jobs/ss-search/ss-search-serv/target/
/ss/target/
/ss-adapter/ss-adapter-websocket/target/
/ss-adapter/ss-adapter-rest-conf/target/
/ss-adapter/ss-adapter-rest/target/
/ss/data
/ss/ss-conf.yaml
/ss/ss.log
/ss/sss_users.csv
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-api/target/classes/at/kc/tugraz/ss/serv/job/accessrights/api/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-api/target/test-classes/at/kc/tugraz/ss/accessrights/api/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-conf/target/classes/at/kc/tugraz/ss/serv/job/accessrights/conf/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-conf/target/test-classes/at/kc/tugraz/ss/accessrights/conf/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-datatypes/target/classes/at/kc/tugraz/ss/serv/job/accessrights/datatypes/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-datatypes/target/test-classes/at/kc/tugraz/ss/accessrights/datatypes/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-impl/target/classes/at/kc/tugraz/ss/serv/job/accessrights/impl/fct/sql/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-impl/target/classes/at/kc/tugraz/ss/serv/job/accessrights/impl/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-impl/target/test-classes/at/kc/tugraz/ss/accessrights/impl/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-serv/target/classes/at/kc/tugraz/ss/serv/job/accessrights/serv/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-serv/target/test-classes/at/kc/tugraz/ss/accessrights/serv/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-api/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/api/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-api/target/test-classes/at/kc/tugraz/ss/serv/job/i5cloud/api/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-conf/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/conf/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-conf/target/test-classes/at/kc/tugraz/ss/serv/job/i5cloud/conf/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/datatypes/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/datatypes/par/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target/test-classes/at/kc/tugraz/ss/serv/job/i5cloud/datatypes/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/impl/fct/misc/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/impl/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target/test-classes/at/kc/tugraz/ss/serv/job/i5cloud/impl/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-serv/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/serv/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-serv/target/test-classes/at/kc/tugraz/ss/serv/job/i5cloud/serv/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-conf/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-conf/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-datatypes/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-datatypes/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-serv/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-serv/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-api/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-api/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-conf/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-conf/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-serv/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-serv/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-api/target
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-conf/target
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-datatypes/target
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-impl/target
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-serv/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-api/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-conf/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-serv/target
/ss/tmp
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-impl/nb-configuration.xml
/ss-serv/ss-datatypes/ss-activity/ss-activity-serv/target
/ss-serv/ss-datatypes/ss-activity/ss-activity-datatypes/target
/ss-serv/ss-datatypes/ss-activity/ss-activity-api/target
/ss-serv/ss-datatypes/ss-activity/ss-activity-conf/target
/ss-serv/ss-datatypes/ss-activity/ss-activity-impl/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-util/target
/ss-serv/ss-datatypes/ss-category/ss-category-api/target
/ss-serv/ss-datatypes/ss-category/ss-category-datatypes/target
/ss-serv/ss-datatypes/ss-category/ss-category-conf/target
/ss-serv/ss-datatypes/ss-category/ss-category-impl/target
/ss-serv/ss-datatypes/ss-category/ss-category-util/target
/ss-serv/ss-datatypes/ss-category/ss-category-serv/target
/ss-serv/ss-jobs/ss-cloud/ss-cloud-datatypes/target/
/ss-serv/ss-jobs/ss-cloud/ss-cloud-api/target/
/ss-serv/ss-jobs/ss-cloud/ss-cloud-conf/target/
/ss-serv/ss-jobs/ss-cloud/ss-cloud-impl/target/
/ss-serv/ss-jobs/ss-cloud/ss-cloud-serv/target/
/ss/users.csv
/ss/lib
/ss/runit.bat
/ss/runit.sh
/ss/ss.jar
/ss-serv/ss-jobs/recomm/api/target
/ss-serv/ss-jobs/recomm/conf/target
/ss-serv/ss-jobs/recomm/datatypes/target
/ss-serv/ss-jobs/recomm/impl/target
/ss-serv/ss-jobs/recomm/serv/target
/serv/jobs/notification/notification.api/target
/serv/ss-datatypes/ss-tag/ss-tag-serv/target
/serv/ss-voc/ss-voc-serv/target
/serv/ss-voc/ss-voc-conf/target
/serv/ss-voc/ss-voc-impl/target
/serv/ss-voc/ss-voc-api/target
/serv/ss-localwork/ss-localwork-serv/target
/serv/ss-jsonld/ss-jsonld-util/target
/serv/ss-jsonld/ss-jsonld-serv/target
/serv/ss-jsonld/ss-jsonld-datatypes/target
/serv/ss-jsonld/ss-jsonld-impl/target
/serv/ss-jsonld/ss-jsonld-datatypes-api/target
/serv/ss-jsonld/ss-jsonld-conf/target
/serv/ss-jsonld/ss-jsonld-api/target
/serv/ss-db/ss-db-datatypes/target
/serv/ss-db/ss-db-api/target
/serv/ss-db/ss-db-impl/target
/serv/ss-db/ss-db-serv/target
/serv/ss-datatypes/ss-userevent/ss-userevent-serv/target
/serv/ss-datatypes/ss-userevent/ss-userevent-impl/target
/serv/ss-datatypes/ss-user/ss-user-impl/target
/serv/ss-datatypes/ss-userevent/ss-userevent-api/target
/serv/ss-datatypes/ss-user/ss-user-datatypes/target
/serv/ss-datatypes/ss-userevent/ss-ue-conf/target
/serv/ss-datatypes/ss-tag/ss-tag-impl/target
/serv/ss-datatypes/ss-user/ss-user-conf/target
/serv/ss-datatypes/ss-user/ss-user-serv/target
/serv/ss-datatypes/ss-rating/ss-rating-api/target
/serv/ss-datatypes/ss-entity/ss-entity-serv/target
/serv/ss-datatypes/ss-location/ss-location-conf/target
/serv/ss-datatypes/ss-tag/ss-tag-datatypes/target
/serv/ss-datatypes/ss-learn-ep/ss-learn-ep-serv/target
/serv/ss-datatypes/ss-user/ss-user-api/target
/serv/ss-datatypes/ss-tag/ss-tag-api/target
/serv/ss-db/ss-db-conf/target
/serv/ss-datatypes/ss-learn-ep/ss-learn-ep-impl/target
/serv/ss-datatypes/ss-location/ss-location-impl/target
/serv/ss-datatypes/ss-userevent/ss-userevent-datatypes/target
/serv/ss-datatypes/ss-tag/ss-tag-conf/target
/serv/ss-datatypes/ss-rating/ss-rating-serv/target
/serv/ss-datatypes/ss-rating/ss-rating-impl/target
/serv/ss-datatypes/ss-rating/ss-rating-conf/target
/serv/ss-datatypes/ss-rating/ss-rating-datatypes/target
/serv/ss-datatypes/ss-location/ss-location-serv/target
/serv/ss-datatypes/ss-location/ss-location-datatypes/target
/serv/ss-datatypes/ss-learn-ep/ss-learn-ep-datatypes/target
/serv/ss-datatypes/ss-location/ss-location-api/target
/serv/ss-datatypes/ss-learn-ep/ss-learn-ep-conf/target
/serv/ss-datatypes/ss-learn-ep/ss-learn-ep-api/target
/serv/ss-datatypes/ss-entity/ss-entity-impl/target
/serv/ss-datatypes/ss-entity/ss-entity-datatypes/target
/serv/ss-datatypes/ss-entity/ss-entity-conf/target
/serv/jobs/recomm/recomm.datatypes/target/
/serv/jobs/ss-auth/ss-auth-datatypes/target/
/serv/jobs/ss-dataimport/ss-dataimport-conf/target/
/serv/jobs/ss-filerepo/ss-filerepo-datatypes/target/
/serv/jobs/ss-filerepo/ss-filerepo-conf/target/
/serv/jobs/ss-broadcasting/ss-broadcast-conf/target/
/serv/ss-datatypes/ss-activity/ss-activity-datatypes/target/
/serv/ss-datatypes/ss-disc/ss-disc-datatypes/target/
/serv/ss-datatypes/ss-coll/ss-coll-datatypes/target/
/serv/jobs/ss-evernote/ss-evernote-datatypes/target/
/serv/jobs/ss-broadcasting/ss-broadcast-datatypes/target/
/serv/ss-datatypes/ss-category/ss-category-datatypes/target/
/serv/jobs/notification/notification.datatypes/target/
/serv/jobs/ss-cloud/ss-cloud-serv/target/
/serv/ss-datatypes/ss-activity/ss-activity-api/target/
/serv/ss-datatypes/ss-activity/ss-activity-serv/target/
/serv/jobs/ss-i5cloud/ss-i5cloud-datatypes/target/
/serv/jobs/ss-i5cloud/ss-i5cloud-api/target/
/serv/jobs/ss-i5cloud/ss-i5cloud-impl/target/
/serv/jobs/ss-i5cloud/ss-i5cloud-serv/target/
/serv/serv-serv/serv-test-api/target/
/serv/jobs/ss-evernote/ss-evernote-api/target/
/serv/jobs/ss-evernote/ss-evernote-impl/target/
/serv/jobs/ss-evernote/ss-evernote-serv/target/
/serv/ss-datatypes/ss-entity/ss-entity-api/target/
/serv/jobs/ss-dataexport/ss-dataexport-datatypes/target/
/serv/jobs/ss-dataexport/ss-dataexport-serv/target/
/serv/jobs/ss-dataexport/ss-dataexport-impl/target/
/serv/jobs/ss-dataexport/ss-dataexport-api/target/
/serv/jobs/ss-file-sys-local/ss-file-sys-local-datatypes/target/
/serv/jobs/ss-file-sys-local/ss-file-sys-local-api/target/
/serv/jobs/ss-file-sys-local/ss-file-sys-local-impl/target/
/serv/jobs/ss-file-sys-local/ss-file-sys-local-serv/target/
/serv/jobs/recomm/recomm.api/target/
/serv/jobs/recomm/recomm.impl/target/
/serv/jobs/recomm/recomm.serv/target/
/serv/jobs/notification/notification.impl/target/
/serv/jobs/notification/notification.serv/target/
/serv/jobs/ss-solr/ss-solr-datatypes/target/
/serv/jobs/ss-solr/ss-solr-impl/target/
/serv/jobs/ss-solr/ss-solr-api/target/
/serv/jobs/ss-solr/ss-solr-serv/target/
/serv/jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-datatypes/target/
/serv/jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-api/target/
/serv/jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-utils/target/
/serv/jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-impl/target/
/serv/jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-serv/target/
/serv/jobs/ss-scaff/ss-scaff-api/target/
/serv/jobs/ss-scaff/ss-scaff-datatypes/target/
/serv/jobs/ss-scaff/ss-scaff-serv/target/
/serv/jobs/ss-scaff/ss-scaff-impl/target/
/serv/jobs/ss-lomextractor/ss-lomextractor-api/target/
/serv/jobs/ss-lomextractor/ss-lomextractor-datatypes/target/
/serv/jobs/ss-lomextractor/ss-lomextractor-impl/target/
/serv/jobs/ss-lomextractor/ss-lomextractor-serv/target/
/serv/jobs/ss-dataimport/ss-dataimport-datatypes/target/
/serv/jobs/ss-dataimport/ss-dataimport-api/target/
/serv/jobs/ss-dataimport/ss-dataimport-impl/target/
/serv/jobs/ss-dataimport/ss-dataimport-serv/target/
/serv/ss-datatypes/ss-coll/ss-coll-api/target/
/serv/ss-datatypes/ss-coll/ss-coll-impl/target/
/serv/ss-datatypes/ss-coll/ss-coll-serv/target/
/serv/jobs/ss-search/ss-search-datatypes/target/
/serv/jobs/ss-auth/ss-auth-impl/target/
/serv/jobs/ss-auth/ss-auth-api/target/
/serv/jobs/ss-filerepo/ss-filerepo-api/target/
/serv/jobs/ss-auth/ss-auth-serv/target/
/serv/jobs/ss-filerepo/ss-filerepo-impl/target/
/serv/jobs/ss-filerepo/ss-filerepo-serv/target/
/serv/jobs/ss-broadcasting/ss-broadcast-api/target/
/serv/jobs/ss-broadcasting/ss-broadcast-serv/target/
/serv/jobs/ss-broadcasting/ss-broadcast-impl/target/
/serv/ss-datatypes/ss-disc/ss-disc-api/target/
/serv/ss-datatypes/ss-disc/ss-disc-impl/target/
/serv/ss-datatypes/ss-disc/ss-disc-serv/target/
/serv/ss-datatypes/ss-category/ss-category-api/target/
/serv/ss-datatypes/ss-category/ss-category-impl/target/
/serv/ss-datatypes/ss-category/ss-category-serv/target/
/serv/jobs/ss-search/ss-search-api/target/
/serv/jobs/ss-search/ss-search-impl/target/
/serv/jobs/ss-search/ss-search-serv/target/
/serv/serv-serv/serv-errreg/target/
/serv/serv-serv/serv-datatypes/target/
/serv/serv-serv/serv-api/target/
/serv/jobs/ss-cloud/ss-cloud-api/target/
/serv/jobs/ss-cloud/ss-cloud-datatypes/target/
/serv/jobs/notification/notification.conf/target/
/serv/jobs/ss-cloud/ss-cloud-conf/target/
/serv/jobs/ss-evernote/ss-evernote-conf/target/
/serv/ss-datatypes/ss-activity/ss-activity-conf/target/
/serv/jobs/ss-i5cloud/ss-i5cloud-conf/target/
/serv/ss-datatypes/ss-disc/ss-disc-conf/target/
/serv/jobs/ss-file-sys-local/ss-file-sys-local-conf/target/
/serv/jobs/ss-search/ss-search-conf/target/
/serv/jobs/ss-dataexport/ss-dataexport-conf/target/
/serv/jobs/recomm/recomm.conf/target/
/serv/jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-conf/target/
/serv/jobs/ss-lomextractor/ss-lomextractor-conf/target/
/serv/ss-datatypes/ss-coll/ss-coll-conf/target/
/serv/jobs/ss-auth/ss-auth-conf/target/
/serv/jobs/ss-scaff/ss-scaff-conf/target/
/serv/serv-serv/serv-caller/target/
/serv/jobs/ss-cloud/ss-cloud-impl/target/
/serv/ss-datatypes/ss-activity/ss-activity-impl/target/
/serv/jobs/ss-i5cloud/ss-i5cloud-util/target/
/serv/ss-datatypes/ss-category/ss-category-util/target/
/serv/ss-datatypes/ss-category/ss-category-conf/target
/serv/ss-datatypes/flag/flag.serv/target
/serv/ss-datatypes/flag/flag.impl/target
/serv/ss-datatypes/flag/flag.datatypes/target
/serv/ss-datatypes/flag/flag.api/target
/serv/ss-datatypes/flag/flag.conf/target
/ss/users_1.csv
/serv/serv-serv/serv-err-datatypes/target
/serv/ss-datatypes/comment/comment.api/target
/serv/ss-datatypes/comment/comment.datatypes/target
/serv/ss-datatypes/comment/comment.serv/target
/serv/ss-datatypes/comment/comment.impl/target
/serv/ss-datatypes/comment/comment.conf/target
/*.project
/serv/jobs/recomm/*.project
/serv/jobs/recomm/recomm.conf/*.classpath
/.settings/org.eclipse.core.resources.prefs
/serv/jobs/recomm/recomm.api/.settings/org.eclipse.m2e.core.prefs
/serv/jobs/recomm/recomm.conf/.settings/org.eclipse.jdt.core.prefs
/serv/jobs/recomm/recomm.conf/.settings/org.eclipse.m2e.core.prefs
/serv/jobs/recomm/recomm.conf/.settings/org.eclipse.core.resources.prefs
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
*.project
*.classpath
org.eclipse.wst.common.project.facet.core.prefs.xml
org.eclipse.wst.common.project.facet.core.xml
org.eclipse.wst.common.component
.jsdtscope
org.eclipse.wst.validation.prefs
org.eclipse.wst.jsdt.ui.superType.container
org.eclipse.wst.jsdt.ui.superType.name
/serv/jobs/message1/message.datatypes/target/
/serv/jobs/message1/message.conf/target/
/serv/jobs/message1/message.impl/target/
/serv/jobs/message1/message.serv/target/
/serv/jobs/message1/message.api/target
/serv/jobs/friend/friend.api/target
/serv/jobs/friend/friend.conf/target
/serv/jobs/friend/friend.datatypes/target
/serv/jobs/friend/friend.impl/target
/serv/jobs/friend/friend.serv/target
/serv/ss-datatypes/app/app.api/target
/serv/ss-datatypes/app/app.conf/target
/serv/ss-datatypes/app/app.datatypes/target
/serv/ss-datatypes/app/app.impl/target
/serv/ss-datatypes/app/app.serv/target
/serv/ss-datatypes/appstacklayout/appstacklayout.api/target
/serv/ss-datatypes/appstacklayout/appstacklayout.conf/target
/serv/ss-datatypes/appstacklayout/appstacklayout.datatypes/target
/serv/ss-datatypes/appstacklayout/appstacklayout.impl/target
/serv/ss-datatypes/appstacklayout/appstacklayout.serv/target
/serv/ss-datatypes/video/video.conf/target/
/serv/ss-datatypes/video/video.impl/target/
/serv/ss-datatypes/video/video.api/target/
/serv/ss-datatypes/video/video.serv/target/
/serv/ss-datatypes/video/video.datatypes/target
/serv/jobs/like/like.conf/target/
/serv/jobs/like/like.api/target/
/serv/jobs/like/like.impl/target/
/serv/jobs/like/like.serv/target/
/serv/jobs/like/like.datatypes/target
/serv/ss-datatypes/circle/circle.datatypes/target/
/serv/ss-datatypes/circle/circle.conf/target/
/serv/ss-datatypes/circle/circle.api/target/
/serv/ss-datatypes/circle/circle.serv/target/
/serv/ss-datatypes/circle/circle.impl/target/