/ss-log/ss-log-datatypes/target/
/ss-util/target/
/ss-serv/ss-serv-serv/ss-serv-err-reg/target/
/ss-conf/ss-conf-api/target/
/ss-serv/ss-jsonld/ss-jsonld-datatypes-api/target/
/ss-datatypes/ss-datatypes-datatypes/target/
/ss-serv/ss-serv-serv/ss-serv-datatypes/target/
/ss-adapter/ss-adapter-socket/ss-adapter-socket-datatypes/target/
/ss-serv/ss-jsonld/ss-jsonld-util/target/
/ss-serv/ss-datatypes/ss-tag/ss-tag-datatypes/target/
/ss-serv/ss-jsonld/ss-jsonld-api/target/
/ss-serv/ss-datatypes/ss-entity/ss-entity-datatypes/target/
/ss-serv/ss-datatypes/ss-rating/ss-rating-datatypes/target/
/ss-serv/ss-db/ss-db-datatypes/target/
/ss-serv/ss-serv-serv/ss-serv-api/target/
/ss-serv/ss-db/ss-db-api/target/
/ss-serv/ss-jobs/ss-solr/ss-solr-datatypes/target/
/ss-serv/ss-datatypes/ss-coll/ss-coll-datatypes/target/
/ss-serv/ss-datatypes/ss-userevent/ss-userevent-datatypes/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-datatypes/target/
/ss-serv/ss-datatypes/ss-user/ss-user-datatypes/target/
/ss-serv/ss-datatypes/ss-user/ss-user-api/target/
/ss-serv/ss-datatypes/ss-disc/ss-disc-datatypes/target/
/ss-serv/ss-datatypes/ss-learn-ep/ss-learn-ep-datatypes/target/
/ss-serv/ss-jobs/ss-recomm/ss-recomm-datatypes/target/
/ss-serv/ss-jobs/ss-evernote/ss-evernote-datatypes/target/
/ss-serv/ss-jobs/ss-broadcasting/ss-broadcast-datatypes/target/
/ss-serv/ss-jobs/ss-filerepo/ss-filerepo-datatypes/target/
/ss-serv/ss-serv-serv/ss-serv-test-api/target/
/ss-serv/ss-serv-serv/ss-serv-caller/target/
/ss-serv/ss-jobs/ss-evernote/ss-evernote-api/target/
/ss-serv/ss-jobs/ss-evernote/ss-evernote-impl/target/
/ss-serv/ss-db/ss-db-conf/target/
/ss-serv/ss-jobs/ss-evernote/ss-evernote-serv/target/
/ss-serv/ss-db/ss-db-serv/target/
/ss-serv/ss-db/ss-db-impl/target/
/ss-serv/ss-datatypes/ss-entity/ss-entity-api/target/
/ss-serv/ss-datatypes/ss-entity/ss-entity-conf/target/
/ss-serv/ss-datatypes/ss-entity/ss-entity-impl/target/
/ss-serv/ss-datatypes/ss-learn-ep/ss-learn-ep-conf/target/
/ss-serv/ss-datatypes/ss-entity/ss-entity-serv/target/
/ss-serv/ss-datatypes/ss-learn-ep/ss-learn-ep-api/target/
/ss-serv/ss-datatypes/ss-learn-ep/ss-learn-ep-impl/target/
/ss-serv/ss-datatypes/ss-learn-ep/ss-learn-ep-serv/target/
/ss-serv/ss-jobs/ss-dataexport/ss-dataexport-conf/target/
/ss-serv/ss-jobs/ss-dataexport/ss-dataexport-datatypes/target/
/ss-serv/ss-jobs/ss-dataexport/ss-dataexport-impl/target/
/ss-serv/ss-jobs/ss-dataexport/ss-dataexport-serv/target/
/ss-serv/ss-jobs/ss-dataexport/ss-dataexport-api/target/
/ss-serv/ss-jobs/ss-file-sys-local/ss-file-sys-local-api/target/
/ss-serv/ss-jobs/ss-file-sys-local/ss-file-sys-local-datatypes/target/
/ss-serv/ss-jobs/ss-file-sys-local/ss-file-sys-local-conf/target/
/ss-serv/ss-jobs/ss-recomm/ss-recomm-conf/target/
/ss-serv/ss-jobs/ss-file-sys-local/ss-file-sys-local-impl/target/
/ss-serv/ss-jobs/ss-file-sys-local/ss-file-sys-local-serv/target/
/ss-serv/ss-jobs/ss-recomm/ss-recomm-api/target/
/ss-serv/ss-jobs/ss-recomm/ss-recomm-impl/target/
/ss-serv/ss-jobs/ss-recomm/ss-recomm-serv/target/
/ss-serv/ss-datatypes/ss-location/ss-location-impl/target/
/ss-serv/ss-datatypes/ss-location/ss-location-datatypes/target/
/ss-serv/ss-datatypes/ss-location/ss-location-api/target/
/ss-serv/ss-jobs/ss-filerepo/ss-filerepo-conf/target/
/ss-serv/ss-datatypes/ss-location/ss-location-serv/target/
/ss-serv/ss-jobs/ss-solr/ss-solr-api/target/
/ss-serv/ss-localwork/ss-localwork-impl/target/
/ss-serv/ss-localwork/ss-localwork-serv/target/
/ss-serv/ss-jobs/ss-solr/ss-solr-impl/target/
/ss-serv/ss-jobs/ss-solr/ss-solr-serv/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-api/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-utils/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-conf/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-impl/target/
/ss-serv/ss-datatypes/ss-user/ss-user-conf/target/
/ss-serv/ss-jobs/ss-modeling/ss-modeling-ue/ss-modeling-ue-serv/target/
/ss-serv/ss-datatypes/ss-user/ss-user-impl/target/
/ss-serv/ss-datatypes/ss-userevent/ss-userevent-api/target/
/ss-serv/ss-datatypes/ss-user/ss-user-serv/target/
/ss-serv/ss-datatypes/ss-userevent/ss-userevent-serv/target/
/ss-serv/ss-datatypes/ss-userevent/ss-userevent-impl/target/
/ss-adapter/ss-adapter-socket/ss-adapter-socket-impl/target/
/ss-serv/ss-jsonld/ss-jsonld-conf/target/
/ss-serv/ss-jobs/ss-evernote/ss-evernote-conf/target/
/ss-serv/ss-datatypes/ss-location/ss-location-conf/target/
/ss-serv/ss-jobs/ss-search/ss-search-conf/target/
/ss-serv/ss-datatypes/ss-tag/ss-tag-conf/target/
/ss-serv/ss-datatypes/ss-disc/ss-disc-conf/target/
/ss-log/ss-log-conf/target/
/ss-serv/ss-datatypes/ss-rating/ss-rating-conf/target/
/ss-serv/ss-datatypes/ss-coll/ss-coll-conf/target/
/ss-serv/ss-datatypes/ss-userevent/ss-ue-conf/target/
/ss-serv/ss-jobs/ss-dataimport/ss-dataimport-conf/target/
/ss-serv/ss-jobs/ss-scaff/ss-scaff-conf/target/
/ss-serv/ss-jobs/ss-auth/ss-auth-datatypes/target/
/ss-serv/ss-jobs/ss-lomextractor/ss-lomextractor-conf/target/
/ss-serv/ss-jobs/ss-auth/ss-auth-conf/target/
/ss-serv/ss-jobs/ss-broadcasting/ss-broadcast-conf/target/
/ss-conf/ss-conf-conf/target/
/ss-serv/ss-voc/ss-voc-conf/target/
/ss-serv/ss-jobs/ss-scaff/ss-scaff-datatypes/target/
/ss-serv/ss-voc/ss-voc-api/target/
/ss-serv/ss-jobs/ss-scaff/ss-scaff-api/target/
/ss-serv/ss-jobs/ss-scaff/ss-scaff-impl/target/
/ss-serv/ss-jobs/ss-scaff/ss-scaff-serv/target/
/ss-serv/ss-jobs/ss-lomextractor/ss-lomextractor-datatypes/target/
/ss-serv/ss-jobs/ss-lomextractor/ss-lomextractor-api/target/
/ss-serv/ss-jobs/ss-lomextractor/ss-lomextractor-impl/target/
/ss-serv/ss-jobs/ss-lomextractor/ss-lomextractor-serv/target/
/ss-serv/ss-jobs/ss-dataimport/ss-dataimport-api/target/
/ss-serv/ss-jobs/ss-dataimport/ss-dataimport-datatypes/target/
/ss-serv/ss-jobs/ss-dataimport/ss-dataimport-impl/target/
/ss-serv/ss-jobs/ss-dataimport/ss-dataimport-serv/target/
/ss-serv/ss-datatypes/ss-coll/ss-coll-api/target/
/ss-serv/ss-datatypes/ss-coll/ss-coll-impl/target/
/ss-serv/ss-voc/ss-voc-impl/target/
/ss-serv/ss-datatypes/ss-coll/ss-coll-serv/target/
/ss-serv/ss-jsonld/ss-jsonld-datatypes/target/
/ss-serv/ss-jobs/ss-search/ss-search-datatypes/target/
/ss-serv/ss-voc/ss-voc-serv/target/
/ss-serv/ss-jsonld/ss-jsonld-impl/target/
/ss-serv/ss-jsonld/ss-jsonld-serv/target/
/ss-serv/ss-jobs/ss-auth/ss-auth-api/target/
/ss-serv/ss-jobs/ss-auth/ss-auth-impl/target/
/ss-serv/ss-jobs/ss-auth/ss-auth-serv/target/
/ss-serv/ss-jobs/ss-filerepo/ss-filerepo-api/target/
/ss-serv/ss-jobs/ss-filerepo/ss-filerepo-serv/target/
/ss-serv/ss-jobs/ss-filerepo/ss-filerepo-impl/target/
/ss-serv/ss-jobs/ss-broadcasting/ss-broadcast-api/target/
/ss-serv/ss-datatypes/ss-rating/ss-rating-api/target/
/ss-serv/ss-jobs/ss-broadcasting/ss-broadcast-impl/target/
/ss-serv/ss-datatypes/ss-disc/ss-disc-impl/target/
/ss-serv/ss-datatypes/ss-disc/ss-disc-api/target/
/ss-serv/ss-jobs/ss-broadcasting/ss-broadcast-serv/target/
/ss-serv/ss-datatypes/ss-rating/ss-rating-serv/target/
/ss-serv/ss-datatypes/ss-disc/ss-disc-serv/target/
/ss-serv/ss-datatypes/ss-rating/ss-rating-impl/target/
/ss-serv/ss-datatypes/ss-tag/ss-tag-api/target/
/ss-serv/ss-datatypes/ss-tag/ss-tag-impl/target/
/ss-serv/ss-jobs/ss-search/ss-search-api/target/
/ss-serv/ss-jobs/ss-search/ss-search-impl/target/
/ss-serv/ss-datatypes/ss-tag/ss-tag-serv/target/
/ss-serv/ss-jobs/ss-search/ss-search-serv/target/
/ss/target/
/ss-adapter/ss-adapter-websocket/target/
/ss-adapter/ss-adapter-rest-conf/target/
/ss-adapter/ss-adapter-rest/target/
/ss/data
/ss/ss-conf.yaml
/ss/ss.log
/ss/sss_users.csv
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-api/target/classes/at/kc/tugraz/ss/serv/job/accessrights/api/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-api/target/test-classes/at/kc/tugraz/ss/accessrights/api/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-conf/target/classes/at/kc/tugraz/ss/serv/job/accessrights/conf/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-conf/target/test-classes/at/kc/tugraz/ss/accessrights/conf/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-datatypes/target/classes/at/kc/tugraz/ss/serv/job/accessrights/datatypes/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-datatypes/target/test-classes/at/kc/tugraz/ss/accessrights/datatypes/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-impl/target/classes/at/kc/tugraz/ss/serv/job/accessrights/impl/fct/sql/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-impl/target/classes/at/kc/tugraz/ss/serv/job/accessrights/impl/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-impl/target/test-classes/at/kc/tugraz/ss/accessrights/impl/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-serv/target/classes/at/kc/tugraz/ss/serv/job/accessrights/serv/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-serv/target/test-classes/at/kc/tugraz/ss/accessrights/serv/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-api/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/api/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-api/target/test-classes/at/kc/tugraz/ss/serv/job/i5cloud/api/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-conf/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/conf/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-conf/target/test-classes/at/kc/tugraz/ss/serv/job/i5cloud/conf/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/datatypes/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/datatypes/par/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target/test-classes/at/kc/tugraz/ss/serv/job/i5cloud/datatypes/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/impl/fct/misc/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/impl/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target/test-classes/at/kc/tugraz/ss/serv/job/i5cloud/impl/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-serv/target/classes/at/kc/tugraz/ss/serv/job/i5cloud/serv/*.class
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-serv/target/test-classes/at/kc/tugraz/ss/serv/job/i5cloud/serv/*.class
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-conf/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-conf/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-datatypes/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-datatypes/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-serv/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-serv/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-api/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-api/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-conf/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-conf/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-serv/target/classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-serv/target/test-classes/*.netbeans_automatic_build
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-api/target
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-conf/target
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-datatypes/target
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-impl/target
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-serv/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-api/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-conf/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-datatypes/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-impl/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-serv/target
/ss/tmp
/ss-serv/ss-jobs/ss-accessrights/ss-accessrights-impl/nb-configuration.xml
/ss-serv/ss-datatypes/ss-activity/ss-activity-serv/target
/ss-serv/ss-datatypes/ss-activity/ss-activity-datatypes/target
/ss-serv/ss-datatypes/ss-activity/ss-activity-api/target
/ss-serv/ss-datatypes/ss-activity/ss-activity-conf/target
/ss-serv/ss-datatypes/ss-activity/ss-activity-impl/target
/ss-serv/ss-jobs/ss-i5cloud/ss-i5cloud-util/target
/ss-serv/ss-datatypes/ss-category/ss-category-api/target
/ss-serv/ss-datatypes/ss-category/ss-category-datatypes/target
/ss-serv/ss-datatypes/ss-category/ss-category-conf/target
/ss-serv/ss-datatypes/ss-category/ss-category-impl/target
/ss-serv/ss-datatypes/ss-category/ss-category-util/target
/ss-serv/ss-datatypes/ss-category/ss-category-serv/target
/ss-serv/ss-jobs/ss-cloud/ss-cloud-datatypes/target/
/ss-serv/ss-jobs/ss-cloud/ss-cloud-api/target/
/ss-serv/ss-jobs/ss-cloud/ss-cloud-conf/target/
/ss-serv/ss-jobs/ss-cloud/ss-cloud-impl/target/
/ss-serv/ss-jobs/ss-cloud/ss-cloud-serv/target/
/ss/users.csv
