<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <welcome-file-list>
    <welcome-file>service.json</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <display-name>SSAdapterRestV2</display-name>
  
  <servlet>
    <servlet-name>SSRESTJSONLD</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTJSONLD</servlet-name>
    <url-pattern>/jsonld/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTMessages</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTMessages</servlet-name>
    <url-pattern>/messages/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTRatings</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTRatings</servlet-name>
    <url-pattern>/ratings/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTSystem</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTSystem</servlet-name>
    <url-pattern>/system/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTUsers</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTUsers</servlet-name>
    <url-pattern>/users/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTCategories</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTCategories</servlet-name>
    <url-pattern>/categories/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTLikes</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTLikes</servlet-name>
    <url-pattern>/likes/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTAppStackLayouts</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTAppStackLayouts</servlet-name>
    <url-pattern>/appstacklayouts/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTRecomm</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTRecomm</servlet-name>
    <url-pattern>/recomm/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTApps</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTApps</servlet-name>
    <url-pattern>/apps/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTVideos</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTVideos</servlet-name>
    <url-pattern>/videos/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTSearch</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTSearch</servlet-name>
    <url-pattern>/search/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SSRESTTags</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTTags</servlet-name>
    <url-pattern>/tags/*</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>SSRESTFriends</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTFriends</servlet-name>
    <url-pattern>/friends/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTCircles</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTCircles</servlet-name>
    <url-pattern>/circles/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTDiscs</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTDiscs</servlet-name>
    <url-pattern>/discs/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SSRESTAuth</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>    
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name> 
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTAuth</servlet-name>
    <url-pattern>/auth/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SSRESTEntities</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>     
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>   
      <param-value>at.kc.tugraz.ss.adapter.rest.v2</param-value>
    </init-param>
    
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.v2.SSRestMainV2</param-value>
    </init-param>
        
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SSRESTEntities</servlet-name>
    <url-pattern>/entities/*</url-pattern>
  </servlet-mapping>
    
  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    
    <init-param>
      <param-name>cors.allowGenericHttpRequests</param-name>
      <param-value>true</param-value>
    </init-param>   
    
    <init-param>
      <param-name>cors.allowOrigin</param-name>
      <param-value>*</param-value>
    </init-param>
    
    <init-param>
      <param-name>cors.allowSubdomains</param-name>
      <param-value>true</param-value>
    </init-param>  
    
    <init-param>
      <param-name>cors.supportedMethods</param-name>
      <param-value>GET, POST, PUT, DELETE, HEAD, OPTIONS</param-value>
    </init-param>
    
    <init-param>
      <param-name>cors.supportsCredentials</param-name>
      <param-value>false</param-value>
    </init-param> 
    
    <init-param>
      <param-name>cors.supportedHeaders</param-name>
      <param-value>*</param-value>
    </init-param> 
    
  </filter>
  
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <servlet-name>SSRESTSearch</servlet-name>
    <servlet-name>SSRESTTags</servlet-name>
    <servlet-name>SSRESTAuth</servlet-name>
    <servlet-name>SSRESTEntities</servlet-name>
    <servlet-name>SSRESTFriends</servlet-name>
    <servlet-name>SSRESTCircles</servlet-name>
    <servlet-name>SSRESTDiscs</servlet-name>
    <servlet-name>SSRESTVideos</servlet-name>
    <servlet-name>SSRESTApps</servlet-name>
    <servlet-name>SSRESTAppStackLayouts</servlet-name>
    <servlet-name>SSRESTRecomm</servlet-name>
    <servlet-name>SSRESTLikes</servlet-name>
    <servlet-name>SSRESTCategories</servlet-name>
    <servlet-name>SSRESTUsers</servlet-name>
    <servlet-name>SSRESTSystem</servlet-name>
    <servlet-name>SSRESTRatings</servlet-name>
    <servlet-name>SSRESTJSONLD</servlet-name>
    
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>


<!--  old jersey <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>-->
<!-- old jersey <param-name>com.sun.jersey.config.property.packages</param-name>-->

<!--    <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
      <param-value>at.kc.tugraz.ss.adapter.rest.SSAuthFilter</param-value>
    </init-param>-->